<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Loader.Properties.Settings>
            <setting name="usernameVal" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordVal" serializeAs="String">
                <value />
            </setting>
            <setting name="loginCheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectorCheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectorOption" serializeAs="String">
                <value />
            </setting>
        </Loader.Properties.Settings>
    </userSettings>
</configuration>