body
{
    border: 1px solid rgba(0, 0, 0, 0.92);
}

#loader
{
    position: relative;
    display: none;
}

#toolbar
{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 0px;
    width: 100px;
}

#window_buttons 
{

    position: fixed;
    right: 0;
    top: 0;
    height: 25px;
    z-index: 1;
}

#saveSelectionSwitch
{
    position: fixed;
    margin-left: -15px;
    z-index: 1;
}

#window_buttons > div 
{
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
    opacity: 0.37;
}

#window_buttons > div:hover 
{
    opacity: 0.5;
}

#window_buttons .minimize 
{
    background: url(../img/toolbar/minimize.png) no-repeat center center;
}

#window_buttons .close 
{
    background: url(../img/toolbar/close.png) no-repeat center center;
}